<div class="container-fluid pico_total_footer" style="border-top: solid 1px #efefef;clear: both;position: relative;top: 70px;">
    <div class="container pico_footer" style="">
        <div class="picogram_footer_text col-xs-12 col-sm-9" style="padding:0px;">
            <span class="footer_list">About us</span>
            <span class="footer_list">Support</span>
            <span class="footer_list">Blog</span>
            <span class="footer_list">Press</span>
            <span class="footer_list">API</span>
            <span class="footer_list">Jobs</span>
            <span class="footer_list">Privacy</span>
            <span class="footer_list">Terms</span>
            <span class="footer_list">Language</span>
        </div>
        <div class="picogram_footer col-xs-12 col-sm-3" style="text-align:right;padding:0px;">
            <span class="col-xs-12 footer_pico_2016" style="color: #999;">© 2016 Merriment</span>
        </div>
    </div>
</div>

    